.navbar{
  display: flex;
}

.nav-button {
  text-align: center;
  flex: 33%;
}

.nav-icon {
  margin-bottom: 6px;
}

.full-logo {
  margin: auto;
  display: block;
  max-height: 100px;
  text-align: center;
}

/**Button icon column fix**/
.button-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}